<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Almacén{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <img src="{{ url_for('static', filename='img/xylem.png') }}" class="logo">
    <h1>Sistema de Solicitudes de Almacén</h1>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    Xylem Perú – Unidad Minera Antamina
</footer>

</body>
</html>