{% extends "base.html" %}
{% block content %}

<h2>Ingreso</h2>

<form method="POST">
<input type="hidden" name="tipo" value="personal">
<b>Personal</b><br>
<input name="nombre" placeholder="Nombres y Apellidos" required>
<button>Ingresar</button>
</form>

<hr>

<form method="POST">
<input type="hidden" name="tipo" value="almacenero">
<b>Almaceneros</b><br>
<input name="usuario" placeholder="Usuario" required>
<input name="clave" type="password" placeholder="Contraseña" required>
<button>Ingresar como almacenero</button>
</form>

{% endblock %}